mixin btnLink(className, title, href, target)
	a(class= className, href= href, target= target).btn-link= title
		svg(xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none")
			path(d="M1 6.5H0.5V7.5H1V6.5ZM14 7L14.3536 7.35355L14.7071 7L14.3536 6.64645L14 7ZM1 7.5H14V6.5H1V7.5ZM14.3536 6.64645L8.35355 0.646447L7.64645 1.35355L13.6464 7.35355L14.3536 6.64645ZM13.6464 6.64645L7.64645 12.6464L8.35355 13.3536L14.3536 7.35355L13.6464 6.64645Z" fill="black")
mixin btnBase(className, title, href, target)
	a(class= className, href= href, target= target).btn-base= title

mixin breadcrumbs(level, parentName, parentLink, parentNameNext, parentLinkNext)
	if level === 3
		.breadcrumbs 
			a(href="/gmng/index.html") Главная
			span /
			a(href= "/" + parentLink + ".html")= parentName
			span /
			a(href= "/" + parentLinkNext + ".html")= parentNameNext
			span /
			span= pageTitle
	else
		if level === 2
			.breadcrumbs 
				a(href="/gmng/index.html") Главная
				span /
				a(href= "/" + parentLink + ".html")= parentName
				span /
				span= pageTitle
		else 
			.breadcrumbs 
				a(href="/gmng/index.html") Главная
				span /
				span= pageTitle