extends ../../base

block vars
	-let pageName = 'item-page'
	-let pageTitle = 'Наушники с микрофоном GMNG HS-L990G'
	-let catalogGroup = 'headphones'
	-let catalogGroupRu = 'Игровые гарнитуры'
	-let itemID = '1605117'
	-let galleryItemsCount = 27
	-let metaTitle = 'Наушники с микрофоном GMNG HS-L990G'
	-let metaDescription= 'Беспроводная игровая гарнитура с подсветкой. Поддерживает подключение по Bluetooth и через usb ресивер.'
block content
		include ../../block/group-list
		include ../../includes/items-list
		include ../../includes/reviews-list
		include ../../includes/specs-list
		main.main
			section.item
				.container.item__container
					+breadcrumbs(3, 'Товары', 'catalog', `${catalogGroupRu}`, 'catalog/' + `${catalogGroup}`)
					.item__inner
						.item__images.gallery
							if galleryItemsCount != 0
								.gallery__container
									.gallery__main.swiper
										ul.gallery__list.swiper-wrapper
											- for(let i = 0; i < galleryItemsCount; i++)
												li.gallery__item.swiper-slide
													a.gallery__link(href='/gmng/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.jpg' , data-fancybox='items-gallery', aria-label= pageTitle + ' фото ' + (i+1)) 
														picture.gallery__image
															source(type='image/webp' srcset= '/gmng/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.webp')
															source(type='image/jpeg' srcset= '/gmng/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.jpg')
															img(src='/gmng/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.jpg', alt= pageTitle + '_' + (i + 1))
									.swiper-pagination.gallery-pagination
							if galleryItemsCount > 1
								.gallery__container
									.gallery__thumb.swiper
											ul.gallery__list.swiper-wrapper
												- for(let i = 0; i < galleryItemsCount; i++)
													li.gallery__item.swiper-slide
														picture.gallery__image
															source(type='image/webp' srcset= '/gmng/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.webp')
															source(type='image/jpeg' srcset= '/gmng/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.jpg')
															img(src='/gmng/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.jpg', alt= pageTitle + '_' + (i + 1))
									.gallery__buttons
										button.gallery-button-prev.swiper-button-prev(aria-label="Предыдущий")
											include ../../../img/slider-arrow.svg
										button.gallery-button-next.swiper-button-next(aria-label="Следующий")
											include ../../../img/slider-arrow.svg
						.item__content
							span.item__id id #{itemID}
							h1.item__title.h4= pageTitle
							each element in itemsList
								if element.id === itemID
									p.item__description= element.description
							span.item__tagline.h4 «Нравится – играй»
							.item__downloads.downloads
								each element in itemsList
									if element.id === itemID & element.downloads === true 
										p.downloads__title Загрузки
										if element.manualLink != null
											.downloads__item
												p.downloads__type.h4 Руководство пользователя
												a.downloads__link(href= element.manualLink, target="_blank", aria-label="Скачать")= element.manualSize
													include ../../../img/download.svg
										if element.driverLink != null
											.downloads__item
												p.downloads__type.h4 Драйвер
												a.downloads__link(href= element.driverLink, aria-label="Скачать")= element.driverSize
													include ../../../img/download.svg
							.item__buy.buy
								p.buy__title Купить в магазинах
								.buy__links
									a.buy__link(href="https://www.citilink.ru/search/?text=" + itemID, target="_blank", aria-label="Купить в Ситилинк")
										include ../../../img/logo-citilink.svg
									a.buy__link(href="https://market.yandex.ru/search?text=" + pageTitle, target="_blank", aria-label="Купить в Яндекс.Маркет")
										include ../../../img/logo-yamarket.svg
			section.features
				.container.features__container
					.features__tabs.tabs
						each element in itemsList
							if element.id === itemID & element.features === true 
								a(href="#tab-1").tab-trigger.h3 Характеристики
							if element.id === itemID & element.reviews === true 
								a(href="#tab-2").tab-trigger.h3 Обзоры
					each element in itemsList
						if element.id === itemID & element.features === true 
							.features__table.tab-block#tab-1
								-let listID = specsList[itemID]
								each value, key in listID
									.features__block
										.features__title.h4= key
										.features__specs
											each value, property in listID[key]
												.features__inner
													.features__property= property
													.features__value= value
						if element.id === itemID & element.reviews === true 
							.features__reviews.reviews.tab-block#tab-2
								ul.reviews__list
									each element in reviewsList
										if element.id === itemID
											li.reviews__item(class= element.group)
												a.reviews__link(href= element.link, aria-label= element.title) 
													picture.reviews__image
														source(type='image/webp' srcset= element.image + '.webp')
														source(type='image/jpg' srcset= element.image + '.jpg')
														img(src= element.image + '.jpg', alt= element.title)
													span.reviews__name= element.title
			section.products 
				.products__container.container
					h2.products__title.h3 Смотрите также
					.products__content
						include ../../block/products-also