extends ../../base

block vars
	-let pageName = 'item-page'
	-let pageTitle = 'Микрофон проводной GMNG SM-900G'
	-let catalogGroup = 'microphones'
	-let catalogGroupRu = 'Микрофоны'
	-let itemID = '1529057'
	-let galleryItemsCount = 12
	-let metaTitle = 'Микрофон проводной GMNG SM-900G'
	-let metaDescription= 'Микрофон для стриминга, записи подкастов и конференций, на устойчивой подставке, с регулируемым углом наклона.'
block content
		include ../../block/group-list
		include ../../includes/items-list
		include ../../includes/reviews-list
		-
			let specMain = {
				'Тип подключения': 'проводной USB',
				'Тип микрофона': 'конденсаторный',
				'Частотный диапазон': '80Гц-20КГц',
				'Сопротивление': '680 Ом',
				'Чувствительность': '33 дБ',
				'Направленность микрофона': 'кардиоидный',
				'Количество микрофонов в комплекте': '1',
				'Длина провода': '2 м',
				'Вид исполнения': 'настольный',
			};
		-
			let specFrame = {
				'Цвет': 'черный',
				'Высота товара': '144 мм',
				'Вес товара': '177 грамм',
				'Ширина товара': '44 мм',
				'Габариты упаковки (ед) ДхШхВ': '0.22x0.18x0.11 м',
			};
		-
			let specFeatures = {
				'Для конференцсвязи': '',
				'Для стримеров': '',
			};
		main.main
			section.item
				.container.item__container
					+breadcrumbs(3, 'Товары', 'catalog', `${catalogGroupRu}`, 'catalog/' + `${catalogGroup}`)
					.item__inner
						.item__images.gallery
							if galleryItemsCount != 0
								.gallery__container
									.gallery__main.swiper
										ul.gallery__list.swiper-wrapper
											- for(let i = 0; i < galleryItemsCount; i++)
												li.gallery__item.swiper-slide
													a.gallery__link(href='/gmng/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.jpg' , data-fancybox='items-gallery', aria-label= pageTitle + ' фото ' + (i+1)) 
														picture.gallery__image
															source(type='image/webp' srcset= '/gmng/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.webp')
															source(type='image/jpeg' srcset= '/gmng/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.jpg')
															img(src='/gmng/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.jpg', alt= pageTitle + '_' + (i + 1))
									.swiper-pagination.gallery-pagination
							if galleryItemsCount > 1
								.gallery__container
									.gallery__thumb.swiper
											ul.gallery__list.swiper-wrapper
												- for(let i = 0; i < galleryItemsCount; i++)
													li.gallery__item.swiper-slide
														picture.gallery__image
															source(type='image/webp' srcset= '/gmng/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.webp')
															source(type='image/jpeg' srcset= '/gmng/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.jpg')
															img(src='/gmng/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.jpg', alt= pageTitle + '_' + (i + 1))
									.gallery__buttons.swiper-buttons
										.gallery-button-prev.swiper-button-prev(aria-label="Предыдущий")
										.gallery-button-next.swiper-button-next(aria-label="Следующий")
						.item__content
							span.item__id id #{itemID}
							h1.item__title.h4= pageTitle
							each element in itemsList
								if element.id === itemID
									p.item__description= element.description
							span.item__tagline.h4 «Нравится – играй»
							.item__downloads.downloads
								each element in itemsList
									if element.id === itemID & element.downloads === true 
										p.downloads__title Загрузки
										if element.manualLink != null
											.downloads__item
												p.downloads__type.h4 Руководство пользователя
												a.downloads__link(href= element.manualLink, target="_blank", aria-label="Скачать")= element.manualSize
													include ../../../img/download.svg
										if element.driverLink != null
											.downloads__item
												p.downloads__type.h4 Драйвер
												a.downloads__link(href= element.driverLink, aria-label="Скачать")= element.driverSize
													include ../../../img/download.svg
							.item__buy.buy
								p.buy__title Купить в магазинах
								.buy__links
									a.buy__link(href="https://www.citilink.ru/search/?text=" + itemID, target="_blank", aria-label="Купить в Ситилинк")
										include ../../../img/logo-citilink.svg
									a.buy__link(href="https://market.yandex.ru/search?text=" + pageTitle, target="_blank", aria-label="Купить в Яндекс.Маркет")
										include ../../../img/logo-yamarket.svg
			section.features
				.container.features__container
					.features__tabs.tabs
						each element in itemsList
							if element.id === itemID & element.features === true 
								a(href="#tab-1").tab-trigger.h3 Характеристики
							if element.id === itemID & element.reviews === true 
								a(href="#tab-2").tab-trigger.h3 Обзоры
					each element in itemsList
						if element.id === itemID & element.features === true 
							.features__table.tab-block#tab-1
								.features__block
									.features__title.h4 Основные характеристики
									.features__specs
										each value, property in specMain
											.features__inner
												.features__property= property
												.features__value= value
								.features__block
									.features__title.h4 Корпус
									.features__specs
										each value, property in specFrame
											.features__inner
												.features__property= property
												.features__value= value
								.features__block
									.features__title.h4 Особенности
									.features__specs
										each value, property in specFeatures
											.features__inner
												.features__property= property
												.features__value= value
						if element.id === itemID & element.reviews === true 
							.features__reviews.reviews.tab-block#tab-2
								ul.reviews__list
									each element in reviewsList
										if element.id === itemID
											li.reviews__item(class= element.group)
												a.reviews__link(href= element.link, aria-label= element.title) 
													picture.reviews__image
														source(type='image/webp' srcset= element.image + '.webp')
														source(type='image/jpg' srcset= element.image + '.jpg')
														img(src= element.image + '.jpg', alt= element.title)
													span.reviews__name= element.title
			section.products 
				.products__container.container
					h2.products__title.h3 Смотрите также
					.products__content
						include ../../block/products-also