extends ../../base

block vars
	-let pageName = 'item-page'
	-let pageTitle = 'Блок питания GMNG ATX 750W PSU-750W-80BR'
	-let catalogGroup = 'power'
	-let catalogGroupRu = 'Блоки питания'
	-let itemID = '1806874'
	-let galleryItemsCount = 9
	-let metaTitle = 'Блок питания GMNG ATX 750W PSU-750W-80BR'
	-let metaDescription= 'Конденсаторы Teapo'
block content
		include ../../block/group-list
		include ../../includes/items-list
		include ../../includes/reviews-list
		-
			let specMain = {
				'Форм-фактор': 'ATX',
				'Мощность': '750 Вт',
				'Цвет': 'черный',
				'Сертифицирован в стандарте': '80 PLUS BRONZE',
				'Активный PFC': '',
				'Терморегулятор оборотов': '',
				'Производительность (КПД)': '85 %',
			};
		-
			let specCooling = {
				'Размер вентилятора(ов)': '120 мм',
				'Количество вентиляторов': '1',
			};
		-
			let specInterface = {
				'Питание материнской платы и процессора': '24+4+4 pin',
				'Разъемы SATA': '6 шт',
				'Питание видеокарты': '3х(6+2) pin',
				'Разъемы Peripheral (Molex)': '4 шт',
			};
		-
			let specEquipment = {
				'Тип поставки': 'Ret',
			};
		main.main
			section.item
				.container.item__container
					+breadcrumbs(3, 'Товары', 'catalog', `${catalogGroupRu}`, 'catalog/' + `${catalogGroup}`)
					.item__inner
						.item__images.gallery
							if galleryItemsCount != 0
								.gallery__container
									.gallery__main.swiper
										ul.gallery__list.swiper-wrapper
											- for(let i = 0; i < galleryItemsCount; i++)
												li.gallery__item.swiper-slide
													a.gallery__link(href='/dist/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.jpg' , data-fancybox='items-gallery', aria-label= pageTitle + ' фото ' + (i+1)) 
														picture.gallery__image
															source(type='image/webp' srcset= '/dist/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.webp')
															source(type='image/jpeg' srcset= '/dist/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.jpg')
															img(src='/dist/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.jpg', alt= pageTitle + '_' + (i + 1))
									.swiper-pagination.gallery-pagination
							if galleryItemsCount > 1
								.gallery__container
									.gallery__thumb.swiper
											ul.gallery__list.swiper-wrapper
												- for(let i = 0; i < galleryItemsCount; i++)
													li.gallery__item.swiper-slide
														picture.gallery__image
															source(type='image/webp' srcset= '/dist/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.webp')
															source(type='image/jpeg' srcset= '/dist/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.jpg')
															img(src='/dist/img/catalog/items/gallery/' + itemID + '/' + itemID + '_v' + (i + 1) + '.jpg', alt= pageTitle + '_' + (i + 1))
									.gallery__buttons
										button.gallery-button-prev.swiper-button-prev(aria-label="Предыдущий")
											include ../../../img/slider-arrow.svg
										button.gallery-button-next.swiper-button-next(aria-label="Следующий")
											include ../../../img/slider-arrow.svg
						.item__content
							span.item__id id #{itemID}
							h1.item__title.h4= pageTitle
							each element in itemsList
								if element.id === itemID
									p.item__description= element.description
							span.item__tagline.h4 «Нравится – играй»
							.item__downloads.downloads
								each element in itemsList
									if element.id === itemID & element.downloads === true 
										p.downloads__title Загрузки
										if element.manualLink != null
											.downloads__item
												p.downloads__type.h4 Руководство пользователя
												a.downloads__link(href= element.manualLink, target="_blank", aria-label="Скачать")= element.manualSize
													include ../../../img/download.svg
										if element.driverLink != null
											.downloads__item
												p.downloads__type.h4 Драйвер
												a.downloads__link(href= element.driverLink, aria-label="Скачать")= element.driverSize
													include ../../../img/download.svg
							.item__buy.buy
								p.buy__title Купить в магазинах
								.buy__links
									a.buy__link(href="https://www.citilink.ru/search/?text=" + itemID, target="_blank", aria-label="Купить в Ситилинк")
										include ../../../img/logo-citilink.svg
									a.buy__link(href="https://market.yandex.ru/search?text=" + pageTitle, target="_blank", aria-label="Купить в Яндекс.Маркет")
										include ../../../img/logo-yamarket.svg
			section.features
				.container.features__container
					.features__tabs.tabs
						each element in itemsList
							if element.id === itemID & element.features === true 
								a(href="#tab-1").tab-trigger.h3 Характеристики
							if element.id === itemID & element.reviews === true 
								a(href="#tab-2").tab-trigger.h3 Обзоры
					each element in itemsList
						if element.id === itemID & element.features === true 
							.features__table.tab-block#tab-1
								.features__block
									.features__title.h4 Основные характеристики
									.features__specs
										each value, property in specMain
											.features__inner
												.features__property= property
												.features__value= value
								.features__block
									.features__title.h4 Охлождение
									.features__specs
										each value, property in specCooling
											.features__inner
												.features__property= property
												.features__value= value
								.features__block
									.features__title.h4 Разъемы и интерфейсы
									.features__specs
										each value, property in specInterface
											.features__inner
												.features__property= property
												.features__value= value
								.features__block
									.features__title.h4 Комплекатция
									.features__specs
										each value, property in specEquipment
											.features__inner
												.features__property= property
												.features__value= value
						if element.id === itemID & element.reviews === true 
							.features__reviews.reviews.tab-block#tab-2
								ul.reviews__list
									each element in reviewsList
										if element.id === itemID
											li.reviews__item(class= element.group)
												a.reviews__link(href= element.link, aria-label= element.title) 
													picture.reviews__image
														source(type='image/webp' srcset= element.image + '.webp')
														source(type='image/jpg' srcset= element.image + '.jpg')
														img(src= element.image + '.jpg', alt= element.title)
													span.reviews__name= element.title
			section.products.products-also
				.products__container.container
					h2.products__title.h3 Смотрите также
					.products__content
						include ../../block/products-also